*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	font-family: $font-primary;
	width: 100vw;
	min-width: 320px;
	min-height: 100vh;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	font-size: 18px;
	line-height: 1.3;
}

.main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
}

button {
	font-family: inherit;
	border: none;
	background-color: $color-transparent;
	cursor: pointer;
}

svg {
	fill: none;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}
