mixin header()
	header.header
		.header__container.container
			a.header__logo-link(href="#")
				img.header__logo-img(src="images/logo.svg", alt)
			nav.header__nav
				ul.header__nav-list
					li.header__nav-elem
						a.header__nav-link(href="#product", data-scroll-to="product") Наш продукт
					li.header__nav-elem
						a.header__nav-link(href="#trust", data-scroll-to="trust") Нам доверяют
					li.header__nav-elem
						a.header__nav-link(href="#rewards", data-scroll-to="rewards") Награды
					li.header__nav-elem
						a.header__nav-link(href="#about", data-scroll-to="about") О нас
					li.header__nav-elem
						a.header__nav-link(href="#job", data-scroll-to="job") Вакансии
					li.header__nav-elem
						a.header__nav-link(href="#contacts", data-scroll-to="contacts") Контакты
