.container {
	width: 100%;
	max-width: 1220px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: auto;
	margin-right: auto;

	@include desktop() {
		padding-left: 30px;
		padding-right: 30px;
	}
}
